@mixin textStyle($fontSize: 2em, $alignment: center)  {
    font-size: $fontSize;
    text-align: $alignment;
    padding: 1em;
}

.App {
    h1 {
        @include textStyle;
        background-color: crimson;
        color: aquamarine;
        transition: 3s;

        &:hover {
            @include textStyle(3em, right);
            background-color: olive;
            color: midnightblue;
        }

    }

    p {
        @include textStyle(1em, left);
        background-color: rebeccapurple;
        color: peru;
    }
}