@import "../styles/global.scss";

* {
  margin-right: 0;
  transition: .3s;
  font-family: 'Merriweather', serif;
}

.dashBoard {
  overflow-x: hidden;
  overflow-y: hidden;

  @media (max-width: 1100px) {
    height: auto;
  }
}

#alertBanner {
  @include body1Style(1em, center, $baby-powder);
  background-color: mediumseagreen;
}

// brand love styling --------------------------------

.featuredBrandsWrapper {
  background-color: white;

  @media (max-width: 1100px) {
    height: auto;
  }
}

.sectionTitle {
  @include headerStyle(
    $fontSize: 50px,
    $alignment: left,
    $textColor: $dark-jungle-green
  );
  padding: 0;
  margin-left: 2.5rem;
}

.headerVideo {
  background-color: cadetblue;
  position: relative;
  width: 100vw;
  height: 30vh;
  margin-top: 0;
}

.backgroundVideo {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.YourSection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  margin-bottom: 18.75rem;

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 8rem;
  }
}

.BrandLoveBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18.76rem;
  height: 60vh;
  position: relative;

  @media (max-width: 1100px) {
    height: 50vh;
  }

  img {
    // object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  h2 {
    @include headerStyle(
      $fontSize: 2rem,
      $alignment: center,
      $textColor: $baby-powder
    );
    width: 10vw;
    z-index: 2;
    background: transparentize($color: black, $amount: 0.7);
    border-radius: 30px;
    @media (max-width: 675px) {
      width: 60vw;
    }
  }

  p {
    @include body1Style(
      $fontSize: 20px,
      $alignment: center,
      $textColor: $baby-powder
    );

    z-index: 2;
  }
  .couponDiv {
    display: flex;
    align-items: center;
    border: $baby-powder 5px solid;
    height: 5vh;
    border-radius: 0.5rem;
    bottom: 0;
    z-index: 2;
    background: transparentize($color: black, $amount: 0.7);
  }
  .couponDiv:hover {
    background-color: $marigold;
  }
  a {
    text-decoration: none;
  }
}

.BrandLoveBox1 {
  background-color: $marigold;
  width: 18.76rem;
  height: 60vh;
  @media (max-width: 1100px) {
  }

  h2 {
    @include headerStyle(
      $fontSize: 75px,
      $alignment: left,
      $textColor: $baby-powder
    );
    margin: 0.4rem;

    padding: 0.5rem;
    @media (max-width: 1100px) {
      @include headerStyle(
        $fontSize: 75px,
        $alignment: left,
        $textColor: $baby-powder
      );
      margin: 0.4rem;

      padding: 0.4rem;
    }
  }
  p {
    @include body1Style(
      $fontSize: 20px,
      $alignment: center,
      $textColor: $baby-powder
    );
    padding-top: 0;
    @media (max-width: 1100px) {
      margin-top: 30px;
      padding: 0;
    }
  }
}

.textDiv {
  justify-content: flex-end;
  border-radius: 1rem;
  width: 100%;
  height: 15vh;
}

// real people stories styling ---------------------------

.featureSection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  z-index: 2;
  position: relative;

  h1 {
    @include headerStyle(
      $fontSize: 30px,
      $alignment: center,
      $textColor: $dark-jungle-green
    );
  }

  p {
    @include body1Style($baby-powder);
  }

  @media (max-width: 1100px) {
    flex-direction: column;
    gap: 1rem;
    height: 210vh;
  }
}

.realDiv {

padding-bottom: 18vh;


  .real1 {
    @include headerStyle(
      $fontSize: 50px,
      $alignment: left,
      $textColor: $dark-jungle-green
    );
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 2.5rem;
    padding-bottom: 0;
    z-index: 2;
    // position: relative;

    @media (max-width: 1000px) {
      @include headerStyle(
        $fontSize: 50px,
        $alignment: left,
        $textColor: $dark-jungle-green
      );
      padding-bottom: 0;
    }
  }
  .real2 {
    @include headerStyle(
      $fontSize: 50px,
      $alignment: left,
      $textColor: $dark-jungle-green
    );
    margin-top: 0;
    margin-left: 0rem;
    padding-left: 2.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0;
    z-index: 2;
    // position: relative;

    @media (max-width: 1000px) {
      @include headerStyle(
        $fontSize: 50px,
        $alignment: left,
        $textColor: $dark-jungle-green
      );
      padding-top: 0;
    }
  }
}

.VLogo {
  height: 30vh;
  width: auto;
  z-index: 5;
  transform: translate(370%, -350%);
  position: relative;
}

.blueSVG {
  width: 190vw;
  z-index: 0;
  transform: translate(0, -50%);
  position: absolute;
  @media (max-width: 800px) {
    display: none;
  }
}

.FDiv {
  height: auto;
  width: 100vw;
  @media (max-width: 1100px) {
    height: 200vh;
  }
}

.textBox {
  height: 20vh;
  background: transparentize($color: white, $amount: 0.3);
  z-index: 2;

  h2 {
    @include headerStyle(
      $fontSize: 24px,
      $alignment: left,
      $textColor: $dark-jungle-green
    );
    margin: 0.4rem;
    padding: 0;
  }
  p {
    @include body1Style;
    margin: 0;
    padding: 0;
  }
}

.featureBox4 {
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: flex-start;
  align-items: center;
  width: 18.76rem;
  height: 60vh;
  background-color: $dark-jungle-green;

  h1 {
    @include headerStyle(
      $fontSize: 60px,
      $alignment: left,
      $textColor: $baby-powder
    );
    margin: 0.4rem;
    padding: 0.5rem;
    @media (max-width: 1100px) {
      @include headerStyle(
        $fontSize: 65px,
        $alignment: left,
        $textColor: $baby-powder
      );
      margin: 0.2rem;
      padding: 0rem;
    }
  }
  p {
    @include body1Style(
      $fontSize: 20px,
      $alignment: right,
      $textColor: $baby-powder
    );
    margin-top: 0px;
    padding-top: 0;
    @media (max-width: 675px) {
      margin-top: 10px;
    }
  }
}

.featureBox1 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 18.76rem;
  height: 60vh;

  img {
    object-fit: cover;
    height: 100%;
    width: 18.76rem;
    position: absolute;
    z-index: 0;

    @media (max-width: 1100px) {
      height: 50vh;
    }
  }
  p {
    @include body1Style($fontSize: 18px, $alignment: center, $textColor: black);
    padding-top: 0;
  }
}
.featureBox2 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 18.76rem;
  height: 60vh;

  img {
    height: 100%;
    width: 18.76rem;
    position: absolute;
    z-index: 1;

    @media (max-width: 1100px) {
      height: 50vh;
    }
  }
  p {
    @include body1Style($fontSize: 18px, $alignment: center, $textColor: black);
    padding-top: 0;
  }
}
.featureBox3 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 18.76rem;
  height: 60vh;
  position: bottom;

  img {
    height: 100%;
    width: 18.76rem;
    position: absolute;
    z-index: 1;

    @media (max-width: 1100px) {
      height: 50vh;
    }
  }
  p {
    @include body1Style($fontSize: 18px, $alignment: center, $textColor: black);
    padding-top: 0;
  }
}
.featureBox1:hover {
  height: 59vh;
}
.featureBox2:hover {
  height: 59vh;
}
.featureBox3:hover {
  height: 59vh;
}
.featureBox4:hover {
  height: 59vh;
}

// -------------------------------Styling for Footer Section
.bottom-tag {
  h1 {
    padding-top: 15vh;
    margin-left: 5vw;
  }
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .icon-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    #icon-footer {
      width: 150px;
      margin: auto;
      margin-bottom: 18vh;
    }

    .footerFlexContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      bottom: 0;

      .footerMiniFlex {
        display: flex;
        flex-direction: row;

        .footer-contact-type {
          @include body1Style(
            $fontSize: 20px,
            $alignment: center,
            $textColor: $baby-powder
          );
          margin-bottom: 2vh;
          @media (max-width: 675px) {
            font-size: 50%;
            margin-bottom: 1.5vh;
          }
        }
      }
    }

    svg {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100vw;
      z-index: -1;
    }
  }
}
