$baby-powder: #F8F7F2;
$marigold: #F1A61E;
$burnt-orange: #B85000;
$spanish-blue: #1B75BC;
$indigo-dye: #043962;
$dark-jungle-green: #1C211C;

@mixin headerStyle($fontSize: 24px, $alignment: center, $textColor: $dark-jungle-green)  {
    font-family: 'Merriweather', serif;
    font-size: $fontSize;
    color: $textColor;
    text-align: $alignment;
    padding: 1em;
}

@mixin body1Style($fontSize: 14px, $alignment: center, $textColor: $dark-jungle-green)  {
    font-family: 'Merriweather', serif;
    font-size: $fontSize;
    color: $textColor;
    text-align: $alignment;
    padding: 1em;
}

@mixin body2Style($fontSize: 14px, $alignment: center, $textColor: $dark-jungle-green)  {
    font-family: 'Merriweather', serif;
    font-size: $fontSize;
    color: $dark-jungle-green;
    text-align: $alignment;
    padding: 1em;
}

@mixin bulletsStyle($fontSize: 12px, $alignment: center, $textColor: $indigo-dye)  {
    font-family: 'Merriweather', serif;
    font-size: $fontSize;
    color: $indigo-dye;
    text-align: $alignment;
    padding: 1em;
}