.MultipleChoice {
  #choices {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  button {
    display: block;

    &:focus {
      background-color: darkcyan;
      color: whitesmoke;
    }
  }
}




.ShortAnswer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  

  .questionWrapper{
   display: flex;
   align-items: center;
   border: 3px solid black;
   flex-direction: column;
   justify-content: space-evenly;
   height: 500px;
   width: 500px;
  }
  

  section {
    display: flex;
    align-items: center;
    background-color: red; 
  }

  
}

.longAnswer{
    display: flex;
    background-color: royalblue;
    align-items: center;
    flex-direction: column;

    input{
        width: 200px;
        height: 250px;
        align-items: center;
        justify-content: start;

    }
    p{
      
    }
}

.SelectImg{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  

   section{
    display: flex;
    align-items: center;
    border: 3px solid black;
    flex-direction: column;
    gap: 10px;
    
   }

  img{
    height: 175px;
    width: 250px;
    
  }
}
