@import "../styles/global.scss";

//---------------------KeywordAnswer ADMIN
.KeyWordAnswer-admin {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  a {
    @include headerStyle(1em, center, $dark-jungle-green);
    flex: 1;
    width: 30%;
    height: 15%;
    margin: 2em auto;
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid $dark-jungle-green;
    transition: 0.3s ease-in;
    line-height: 5em;

    @media (max-width: 675px) {
      margin-top: 15vh;
    }
  }

  .active:hover {
    @include headerStyle(1em, center, white);
    border: 1px solid white;
    padding: 0.8em;
    background-color: $marigold;
    cursor: pointer;
  }

  .KeyWordMainWrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
    height: 80%;
    flex: 9;

    @media (max-width: 675px) {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  .KeyWord-Instructions {
    border-right: solid $marigold;

    @media (max-width: 675px) {
      border-bottom: solid $marigold;
      border-right: none;
    }

    h1 {
      @include headerStyle;
      padding-left: 2.75em;
      text-align: left;
      color: $indigo-dye;
      width: 350px;
    }

    p {
      padding-left: 3em;
      text-align: left;
      color: $indigo-dye;
      width: 350px;
      font-size: 20px;
    }
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 10px;
    padding-left: 3em;

    @media (max-width: 675px) {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .transformStyle {
      justify-content: center;
      align-items: center;
      background-color: red;
      color: white;
      border-radius: 50%;
      border: solid $spanish-blue;
      width: 50px;
      height: 50px;
      padding: 3em;
    }

    .pain {
      @include bulletsStyle;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid $spanish-blue;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 3em;

      @media (max-width: 675px) {
        border: none;
        border-radius: none;
        @include body2Style(1.8em, left);
        border-radius: 6px;
        padding: 0.3em;
        border: none;
        border-bottom: 2px solid $marigold;
        min-width: 300px;
      }

      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    .painOne {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .painTwo {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .painThree {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painFour {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painFive {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painSix {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painSeven {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painEight {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painNine {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
  }
}

//---------------------KeywordAnswer KeyUser
.keyWordAnswer-keyUser {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .KeyWordMainWrapper {
    width: 100%;
    height: 100%;
    flex: 9;
  }

  h1 {
    @include headerStyle(2em);
    padding-top: 1em;
    margin: auto;
    text-align: center;
  }

  a {
    @include headerStyle(1em, center, $dark-jungle-green);
    flex: 1;
    width: 30%;
    height: 15%;
    margin: 2em auto;
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid $dark-jungle-green;
    transition: 0.3s ease-in;
    line-height: 5em;
  }

  .active:hover {
    @include headerStyle(1em, center, white);
    border: 1px solid white;
    padding: 0.8em;
    background-color: $marigold;
    cursor: pointer;
  }

  .gridWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    width: 600px;
    align-items: center;
    justify-items: center;
    margin: auto;
    gap: 10px;

    @media (max-width: 675px) {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .transformStyle {
      justify-content: center;
      align-items: center;
      background-color: red;
      color: white;
      border-radius: 50%;
      border: solid $spanish-blue;
      width: 50px;
      height: 50px;
      padding: 3em;
    }

    .pain {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid $spanish-blue;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      padding: 3em;

      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
    .painOne {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .painTwo {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .painThree {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painFour {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painFive {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painSix {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }

    .painSeven {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painEight {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
    .painNine {
      p {
        font-size: 16px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 3em;
      }
    }
  }
}

.MultipleChoice {
  height: 100vh;
  width: 100vw;

  h1 {
    @include headerStyle(2em);
    padding-top: 1em;
    flex: 1;
    margin: auto;
  }

  .mainContent {
    height: 70vh;
    display: flex;
    flex-direction: column;

    .q {
      flex: 1;

      .prompt {
        h2 {
          @include body1Style(1.5em, center, $dark-jungle-green);
          border-bottom: 2px solid #dddddd;
          width: 50vw;
          margin: 0.5em auto;
          padding: 0.5em;
        }

        input {
          @include body2Style;
          border-radius: 12px;
          border: 1px solid $dark-jungle-green;
          color: $dark-jungle-green;
          margin: 1em auto;
          display: block;
          width: 50%;
        }
      }

      .questionDiv {
        flex: 2;
        display: flex;
        width: 60%;
        margin: auto;
        text-align: center;

        .choice {
          display: flex;
          flex: 1;
          flex-direction: row;

          .choiceLine {
            display: flex;
            flex: 1;
            margin: 0 8px;
            padding: 1em;
            height: 40px;
            border-radius: 6px;
            cursor: pointer;

            .outer-circle {
              background-color: white;
              width: 40px;
              aspect-ratio: 1;
              display: flex;
              transition: 0.3s ease-in;
              border-radius: 6em;

              #mid-circle {
                display: flex;
                width: 30px;
                aspect-ratio: 1;
                z-index: 2;
                margin: 5px;
                border-radius: 6em;

                #inner-circle {
                  width: 20px;
                  aspect-ratio: 1;
                  background-color: white;
                  z-index: 3;
                  margin: 5px;
                  border-radius: 6em;
                }
              }
            }
            .admin-circle {
              background-color: $dark-jungle-green;
              width: 40px;
              aspect-ratio: 1;
              display: flex;
              transition: 0.3s ease-in;
              border-radius: 6em;
            }
          }

          .choice1 {
            #mid-circle {
              background-color: $marigold;
            }

            &:hover {
              background-color: $marigold;

              #outer-circle {
                background-color: $marigold;

                #mid-circle {
                  background-color: white;

                  #inner-circle {
                    background-color: $marigold;
                  }
                }
              }
            }
          }

          .choice2 {
            #mid-circle {
              background-color: $burnt-orange;
            }

            &:hover {
              background-color: $burnt-orange;

              #outer-circle {
                background-color: $burnt-orange;

                #mid-circle {
                  background-color: white;

                  #inner-circle {
                    background-color: $burnt-orange;
                  }
                }
              }
            }
          }

          .choice3 {
            #mid-circle {
              background-color: $indigo-dye;
            }

            &:hover {
              background-color: $indigo-dye;

              #outer-circle {
                background-color: $indigo-dye;

                #mid-circle {
                  background-color: white;

                  #inner-circle {
                    background-color: $indigo-dye;
                  }
                }
              }
            }
          }

          .activeLine1 {
            background-color: $marigold;

            p {
              color: white;
            }
          }

          .activeLine2 {
            background-color: $burnt-orange;

            p {
              color: white;
            }
          }

          .activeLine3 {
            background-color: $indigo-dye;
            transition: 0.3s ease-in;

            p {
              color: white;
            }
          }

          input {
            display: none;
          }

          p {
            @include body1Style(1.5em, center, $dark-jungle-green);
            transition: 0.3s ease-in;
            flex: 1;
            padding: 0;
            line-height: 50px;
            margin: 0 12px;
          }
        }
      }
      .disabledChoice {
        opacity: 0.6;

        .choice {
          .choiceLine {
            cursor: default;
          }
        }
      }
    }

    #submitContent {
      text-align: center;

      a {
        @include headerStyle(1em, center, $dark-jungle-green);
        cursor: pointer;
        background-color: white;
        padding: 2em;
        border-radius: 6px;
        border: 1px solid $dark-jungle-green;
        transition: 0.3s ease-in;
      }

      .active:hover {
        background-color: $spanish-blue;
        color: $baby-powder;
        border: 2px solid white;
      }
    }
  }
}

.ShortAnswer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 8;

    h1 {
      @include headerStyle(2.5em, center, $dark-jungle-green);
      width: 100%;
      flex: 1;
      border-left: 2px solid $marigold;
      border-right: 2px solid $marigold;
      margin: 1em;
    }

    .questionWrapper {
      display: flex;
      align-items: center;
      flex: 2;
      flex-direction: column;
      justify-content: space-evenly;
      border-left: 2px solid $dark-jungle-green;
      height: 70vh;

      #questionPrompt {
        @include body2Style(1.8em, left);
        border-radius: 6px;
        padding: 0.3em;
        border: none;
        border-bottom: 2px solid $marigold;
      }

      input#questionPrompt {
        @include body2Style(1.2em, left);
        width: 80%;
      }

      section {
        align-items: center;
        width: 90%;

        p {
          text-decoration: underline;
          margin: 0;

          i {
            background-color: $dark-jungle-green;
            color: white;
            padding: 0.35em;
            border-radius: 12px;
          }
        }

        .questionInput {
          @include bulletsStyle(1.5em, left, $dark-jungle-green);
          width: 80%;
          float: right;
        }
      }
    }
  }

  .linkDiv {
    text-align: center;
    flex: 1;

    a {
      @include headerStyle(1em, center, $dark-jungle-green);
      width: 30%;
      height: 50%;
      background-color: white;
      border-radius: 6px;
      padding: 1em;
      margin: 1em auto 0 auto;
      border: 1px solid $dark-jungle-green;
      transition: 0.3s ease-in;
    }

    .active:hover {
      @include headerStyle(1em, center, white);
      border: 1px solid white;
      padding: 0.8em;
      background-color: $marigold;
      cursor: pointer;
    }
  }

  .active:hover {
    @include headerStyle(1em, center, white);
    border: 1px solid white;
    padding: 0.8em;
    background-color: $marigold;
    cursor: pointer;
  }

  @media only screen and (max-width: 750px) {
    .mainContainer {
      display: flex;
      flex-direction: column;
      width: 70vw;

      h1 {
        font-size: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
        margin-top: 2em;
        padding: 0 1em;
        text-align: center;
        flex: 1;
        width: auto;
      }

      .questionWrapper {
        border: none;
        width: 100%;
        flex: 9;
        border-bottom: 1px solid gray;

        h2 {
          margin: 0 auto;
        }
      }
    }
    a {
      padding: 0;
    }

    .active:hover {
      padding: 0;
    }
  }
}

// parent container
.LongAnswer {
  justify-content: center;
  flex-direction: row;
  gap: 5vw;
  height: 100vh;
  width: 60vw;
  margin: 0 auto;

  * {
    color: $dark-jungle-green;
  }

  .medicalTools {
    margin: 0 auto;
    max-width: 300px;
  }

  h1,
  h2 {
    @include headerStyle();
  }

  // child of LongAnswer
  img {
    display: flex;
    align-self: center;
    max-height: 20vw;
    width: auto;
  }

  h1 {
    @include headerStyle(2em, center);
    margin: 0;
  }

  // child of LongAnswer
  .inputWrapper {
    display: flex;
    flex-direction: column;

    // child of inputWrapper
    h2 {
      text-align: left;
      @include headerStyle(left);
    }

    // child of inputWrapper
    #wordLimit {
      @include bulletsStyle(0.75em, center, gray);
    }

    // child of inputWrapper
    textarea {
      max-width: 100%;
      min-width: 100%;
      height: 20%;
      align-items: center;
      justify-content: start;
    }

    textarea.disabled {
      height: 20%;
    }

    input {
      @include body2Style;
      border-radius: 12px;
      border: 1px solid gray;
    }

    #promptInput {
      margin: 2em auto;
      width: 70%;
    }

    #maxWordInput {
      margin: 2em auto;
      width: 30%;
    }

    a {
      @include headerStyle(1em, center, $dark-jungle-green);
      padding: 2em;
      width: 50%;
      margin: auto;
      border-radius: 6px;
      border: 1px solid $dark-jungle-green;
      background-color: white;
      transition: 0.3s ease-in;
    }

    .active:hover {
      @include headerStyle(1em, center, white);
      border: 1px solid white;
      padding: 1.8em;
      background-color: $burnt-orange;
      cursor: pointer;
    }
  }
}

.scaleAnswer {
  font: 1vw "Merriweather";

  form {
    margin: 5%;
    border-bottom: 2px solid #1b75bc;
  }

  form .question {
    display: block;
    font-size: 5vw;
    font-weight: bold;
    padding: 30px 0 0 4.25%;
    margin-bottom: 10px;
  }

  form .likert {
    list-style: none;
    width: 100%;
    margin: 10px;
    padding: 0 0 35px;
    display: block;
  }

  form .likert:last-of-type {
    border-bottom: 0;
  }
  form .likert:before {
    content: "";
    position: relative;
    top: 15px;
    left: 9.5%;
    display: block;
    background-color: black;
    height: 4px;
    width: 76%;
  }

  form .likert li {
    display: inline-block;
    width: 19%;
    text-align: center;
    vertical-align: top;
  }

  form .likert li label {
    width: 100%;
  }

  :root {
    --form-control-color: #895000;
  }

  // *,
  // *:before,
  // *:after{
  //   box-sizing: border-box;
  // }

  .form-control {
    font-family: "Merriweather" serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    //commendted out because it ruins styling
    // grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  input[type="radio"] {
    // -webkit-appearance: none;
    appearance: none;
    background-color: #f1a61e;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color #f1a61e);
    background-color: CanvasText;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  form .buttons button {
    padding: 5px 10px;
    background-color: #1b75bc;
    border: 0;
    border-radius: 3px;
  }

  form .buttons .clear {
    background-color: #e9e9e9;
  }
  form .buttons .submit {
    background-color: #1b75bc;
  }
  form .buttons .clear:hover {
    background-color: #ccc;
  }
  form .buttons .submit:hover {
    background-color: #b85000;
  }

  .admin-question {
    width: 100vw;
    font-size: 2vw;
    font-weight: bold;
  }

  .admin-question input {
    @include body2Style;
    border-radius: 20px;
    border: 1px solid gray;
    border-bottom: 2px solid #b85000;
    font-size: 2vw;
    font-weight: bold;
    padding: 2px;
  }

  .admin-question label.question-Edit {
    display: grid;
    grid-template-rows: 33fr 33fr 33fr;
  }

  .valueEdit {
    border-radius: 20px;
    border: 1px solid gray;
    border-top: 2px solid #f1a61e;
    border-bottom: 2px solid #b85000;
    padding: 1px;
    width: 100%;
  }

  .admin-question ul.likert {
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
    width: 100%;
  }

  input.admin-radio {
    display: none;
  }

  a {
    height: 200px;
    width: 200px;
    color: #1b75bc;
  }
}

.SelectImg {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $burnt-orange;

  h1 {
    @include headerStyle(3em, center, $baby-powder);
    margin: 0 auto;
  }

  section {
    display: grid;
    width: 60vw;
    height: 60vh;
    margin: 0 auto;
    gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);

    .gridImg {
      background-color: $spanish-blue;
    }
  }
}

.rankingAnswer-admin {

  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4 {
    text-align: center;
    @include headerStyle($textColor: $burnt-orange, $fontSize: 22px);
  }

  .mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex: 8;

    @media (max-width: 675px) {
      flex-direction: column;
    }

    .rankTitle-rankInstruction {
      width: 30vw;
      border-right: 2px solid $marigold;
      width: 400px;
      font-family: "Merriweather", serif;

      h1 {
        text-align: left;
      }

      p {
        color: $indigo-dye;
        font-size: 20px;
      }

      @include bulletsStyle($alignment: left, $textColor: $indigo-dye);

      @media (max-width: 675px) {
        border-bottom: 2px solid $marigold;
        border-right: none;
      }
    }

    .draggable-wrapper {
      padding-left: 5rem;
      min-width: 475px;

      @media (max-width: 675px) {
        padding: 0;
      }

      .list-container {
        display: grid;
        padding: 1.5rem;
        width: 50%;
        height: 15%;
        grid-template-rows: 100%;
        gap: 0.5rem;
        margin: auto;
        border-radius: 30px;
        border: 2px solid $indigo-dye;

        .list-container_item {
          background-color: white;
          border-radius: 5px;
          color: $spanish-blue;
          display: flex;
          justify-self: center;
          align-items: center;
          padding: 0.5rem;
          border: 2px solid $marigold;
          gap: 10px;
          font-family: "Merriweather", serif;
          @include bulletsStyle;
        }
        .list-container_item:not(:last-of-type) {
          margin-bottom: 0.5rem;
        }

        .list-container_item:hover {
          background-color: $marigold;
        }

        .handlebars {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .adminRankWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 60%;
    flex: 2;

    #questionPrompt {
      @include body2Style(1.8em, left);
      border-radius: 6px;
      padding: 0.3em;
      border: none;
      border-bottom: 2px solid $marigold;
      width: 100%;
      display: block
    }

    input#questionPrompt {
      @include body2Style(1.2em, left);
      width: 100%;
      margin: 2em auto;
    }

    a {
      @include headerStyle(1em, center, $dark-jungle-green);
      flex: 1;
      width: 80%;
      height: 15%;
      margin: 2em auto;
      background-color: white;
      padding: 1em;
      border-radius: 6px;
      border: 1px solid $dark-jungle-green;
      transition: 0.3s ease-in;
    }

    .active:hover {
      @include headerStyle(1em, center, white);
      border: 1px solid white;
      padding: 0.8em;
      background-color: $marigold;
      cursor: pointer;
    }
  }
}

.rankingAnswer-keyUser {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    @include headerStyle(2em);
    padding-top: 1em;
    margin: auto;
    text-align: center;

    @media (max-width: 675px) {
      max-width: 300px;
      text-align: center;
      margin: auto;
      font-size: 16px;
    }
  }

  .draggable-wrapper-keyUser {
    min-width: 475px;
    margin: auto;
    flex: 10;

    .list-container {
      display: grid;
      grid-template-rows: 100%;
      flex-direction: row;
      padding: 1.5rem;
      width: 400px;
      height: 500px;
      gap: 0.5rem;
      margin: auto;
      border-radius: 30px;
      border: 2px solid $indigo-dye;

      @media (max-width: 675px) {
        max-width: 45%;
        margin: auto;
      }

      .list-container_item {
        flex: 1;
        height: 5%;
        border-radius: 5px;
        color: $spanish-blue;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 0.5rem;
        border: 2px solid $marigold;
        gap: 10px;
        font-family: "Merriweather", serif;
        @include bulletsStyle;

        .handlebars {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          max-width: 1vw;
          border: none;
          min-width: 5vw;
        }

        div {
          flex: 2;
          text-align: left;
        }
      }
      .list-container_item:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }

      .list-container_item:hover {
        background-color: $marigold;
      }
    }
  }
  .active {
    @include headerStyle(1em, center, $dark-jungle-green);
    flex: 1;
    width: 30%;
    height: 15%;
    margin: 2em auto;
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid $dark-jungle-green;
    transition: 0.3s ease-in;
    line-height: 5em;
  }

  .active:hover {
    @include headerStyle(1em, center, white);
    border: 1px solid white;
    padding: 0.8em;
    background-color: $marigold;
    cursor: pointer;
  }
}
