.MultipleChoice {
    #choices {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    button {
        display: block;

        &:focus {
            background-color: darkcyan;
            color: whitesmoke;
        }

    }



.ShortAnswer{
    display: flex;
    justify-items: center;
    background-color: aqua;
}