$primary-color: #f3A71C;
$secondary-color: #4394CA;
$font-color: #2f302F;

form {

    background-color: darkcyan;
    padding: 2em;

    input {
        margin: 1em auto;
        padding: .5em;
        display: block;
        width: 30vw;
    }
}
