@import "../styles/global.scss";

body {
  overflow-x: hidden;
}

.Brand {
  @include headerStyle(2em, center, $baby-powder);
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: $indigo-dye;
  display: flex;
  align-items: center;
  justify-content: center;

  #brandWrapper {

    height: 50vh;
    width: 70vw;
    flex: 1;

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0.5em;
  }

  a {
    @include bulletsStyle(1em, center);
    display: block;
    padding: 0.5em;
    margin: auto;
    width: 30%;
    transition: 0.3s ease-in;
    border: 4px solid $baby-powder;
    color: $baby-powder;
    cursor: pointer;

    &:hover {
      background-color: $baby-powder;
      color: $indigo-dye;
    }
  }
}
}

.UserInfo {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: $burnt-orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #userInfoWrapper {

    height: 50vh;
    width: 70vw;
    flex: 1;

  h1 {
    @include headerStyle(3em, center, $baby-powder);
    margin: 0;
    padding: 1em 0 0 0;
  }

  #selectContainer {
    display: flex;
    margin: auto;

    div {
      flex: 1;
      margin: 1em;

      h2 {
        @include body1Style(1em, center, $baby-powder);
        margin: 1em auto 0 auto;
        padding: 0;
      }

      select,
      textarea {
        @include body1Style;
        width: 100%;
        text-align: center;
      }

      textarea {
        @include bulletsStyle;
        height: 100px;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  a {
    @include bulletsStyle(1em, center);
    display: block;
    padding: 0.5em;
    margin: auto;
    width: 30%;
    transition: 0.3s ease-in;
    border: 4px solid $baby-powder;
    color: $baby-powder;
    cursor: pointer;

    &:hover {
      background-color: $baby-powder;
      color: $indigo-dye;
    }
  }
}
}
