@import "../styles/global.scss";

// Remove right side margin for entire page
* {
  margin-right: 0;
  padding: 0;
}

body {
  margin: 0;
}

// All styling within landing
.Landing {
  overflow-y: hidden;
  overflow-x: hidden;

  .landingContainer {
    overflow-y: scroll;
  }

  // -------------------------------Styling for Navbar
  .navbar {
    position: fixed;
    height: 5vh;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    justify-content: left;
    align-items: center;
    gap: 2em;
    font-size: 1.3em;
    background-color: black;
    padding-top: 3vh;
    padding-left: 3vw;
    @include headerStyle($textColor: white, $fontSize: 20px);
    z-index: 1;

    a {
      cursor: pointer;
    }

    #vscrlLogo {
      width: 250px;
    }

    /* Mobile responsiveness */
    @media (max-width: 675px) {
      #aboutLink {
        display: none;
      }

      #storiesLink {
        display: none;
      }

      #brandsLink {
        display: none;
      }

      #howItWorksLink {
        display: none;
      }
    }
  }

  .main-section {
    height: 100vh;

    .SignUp {
      text-align: center;
    }

    .SignUp button {
      display: inline-block;
      place-items: center;
      padding: 0.35em 1.2em;
      border: 0.1em solid #ffffff;
      margin-left: auto;
      border-radius: 0.12em;
      box-sizing: border-box;
      text-decoration: none;
      font-family: "Merriweather", serif;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;
      cursor: pointer;
    }

    .SignUp button {
      @include body1Style;
      background-color: transparent;
      color: white;
      padding: 1em 2em;
    }

    .SignUp button:hover {
      color: #000000;
      background-color: #f1a61e;
    }
    @media all and (max-width: 30em) {
      .SignUp button {
        display: block;
        margin: 0.4em auto;
      }
    }

    /* Mobile responsiveness */
    @media (max-width: 675px) {
      height: auto;
    }
    .videoBackground {
      position: absolute;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .curvedContainer {
      display: flex;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      justify-content: space-between;
      overflow-x: hidden;
    }

    svg {
      align-self: flex-end;
    }

    h1 {
      font-size: 3rem;
      color: $marigold;
      padding-top: 20vh;
      padding-left: 3vw;
    }
  }

  // ------------------------------Info section page

  .icon-section {
    height: 100vh;
    @media (max-width: 675px) {
      height: 150vh;
    }

    .aboutHeaderFlexContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5vh;

      #header {
        @include headerStyle($fontSize: 30px);
        padding: 0;
      }

      #subheader {
        @include body1Style($fontSize: 20);
        padding: 0;

        font-size: 1.5em;
      }
    }

    .aboutFlexContainer {
      display: flex;
      flex-direction: row;
      margin-top: 5vh;
      max-width: 900px;
      max-height: 300px;
      margin: auto;

      /* Mobile responsiveness */
      @media (max-width: 675px) {
        flex-direction: column;
      }

      .aboutMiniFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Merriweather", serif;
        padding-left: 3vw;
        padding-right: 3vw;
        padding-bottom: 2vh;
        width: 600px;
        height: auto;

        /* Mobile responsiveness */
        @media (max-width: 675px) {
          flex-direction: row;
        }

        .aboutImage {
          max-width: 200px;
          text-align: center;
          min-height: 0;
          padding-top: 5vh;

          @media (max-width: 675px) {
            flex-direction: row;
            padding-right: 0vw;
            padding-left: 1vw;
          }
        }

        .description {
          color: black;
          max-width: 200px;
          font-family: "Merriweather", serif;
          min-height: 0;
          text-align: center;

          @media (max-width: 675px) {
            flex-direction: row;
            padding-right: 1vw;
            padding-left: 1vw;
          }

          #miniHeader {
            text-align: center;
            font-size: 20px;
            color: $marigold;
            min-height: 0;
          }
        }
      }
    }
  }

  /* underlines active nav element */
  .navbar > .active {
    border-bottom: 1px solid rgb(255, 166, 0);
  }

  // -------------------------------Styling for Login Section
  .login-section {
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
    background-color: $marigold;

    .LogIn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;
      padding: 1.5em;
      border-radius: 30px;

      margin: auto;
      margin-top: 15vh;

      /* Mobile responsiveness */
      @media (max-width: 675px) {
      }

      @media (min-width: 675px) {
        max-width: 20rem;
      }

      h2 {
        @include headerStyle(2em, center, $baby-powder);
        padding: 0 1em;
        line-height: 3em;
        background-color: $indigo-dye;
        border: 2px solid $baby-powder;
        margin: 0 0 1em 0;
        flex: 1;
      }

      form {
        flex: 4;
        width: 100%;

        input {
          @include body1Style(14px, left);
          margin: 1em auto;
          padding: 1.5em;
          display: block;
          width: 80%;
        }

        input[type="submit"],
        button {
          background-color: transparent;
          display: block;
          margin: 2em auto;
          @include body1Style(14px, center, $baby-powder);
          width: 80%;
          border-radius: 6px;
          border: 2px solid $baby-powder;
          cursor: pointer;
          transition: 0.3s ease-in;
        }

        input[type="submit"]:hover {
          background-color: $burnt-orange;
          color: $baby-powder;
          border: 2px solid $baby-powder;
        }
      }
    }
  }

  // -------------------------------Styling for How-It-Works Section

  .how-it-works-section {
    height: 170vh;
    background-color: white;
    font-family: "Merriweather", serif;

    /* Mobile responsiveness */
    @media (max-width: 675px) {
      height: 260vh;
    }

    #howTitle {
      font-size: 4em;
      margin: 0;

      padding-left: 8vw;
      color: #1c211c;
    }

    //--------------styling for HowToSteps component
    .howToSteps {
      display: grid;
      grid-template-columns: repeat(2, 0.5fr);
      grid-template-rows: repeat(4, 0.1fr);
      width: 80vw;
      height: 60vh;
      margin-left: 13vw;
      padding-top: 7vh;

      .step {
        justify-self: start;
        border-left: solid $marigold;

        p {
          font-size: 2em;
          color: #1c211c;
        }
      }

      .stepOne {
        grid-column: 1/ 2;
        grid-row: 2 / 2;
        text-align: left;
        padding: 0.5em;

        @media (max-width: 675px) {
          grid-column: 1/ 1;
          grid-row: 1 / 1;
          border-bottom: solid $marigold;
        }
      }

      .stepTwo {
        grid-column: 2/ 4;
        grid-row: 3/ 3;
        text-align: left;
        padding: 0.5em;

        @media (max-width: 675px) {
          grid-column: 1/ 2;
          grid-row: 2 / 2;
          border-bottom: solid $marigold;
        }
      }
      .stepThree {
        grid-column: 1/2;
        grid-row: 4/4;
        text-align: left;
        padding: 0.5em;

        @media (max-width: 675px) {
          grid-column: 1/ 2;
          grid-row: 3/ 3;
          border-bottom: solid $marigold;
        }
      }

      .stepFour {
        grid-column: 2/3;
        grid-row: 5/5;
        text-align: left;
        padding: 0.5em;

        @media (max-width: 675px) {
          grid-column: 1/ 2;
          grid-row: 4 / 4;
          border-bottom: solid $marigold;
        }
      }
    }
  }

  // -------------------------------Styling for Stories Section
  .stories-section {
    height: 100vh;
    background-color: $marigold;
    font-family: "Merriweather", serif;

    .curved {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      position: relative;
      height: 100%;

      #top-svg {
        align-self: flex-start;
        width: 100vw;
        top: 0;
        position: absolute;
      }
      #bottom-svg {
        align-self: flex-end;
        width: 100%;
        bottom: 0;
        display: block;
        position: absolute;
      }

      .carousel-wrapper {
        .story {
          display: flex;
          flex-direction: row;
          align-self: center;
          margin-left: 10vw;
          margin-right: 10vw;
          padding-bottom: 5vh;
          gap: 5em;
          position: relative;

          @media (max-width: 675px) {
            flex-direction: column;
          }

          .story-image {
            object-fit: cover;
            width: 200px;
            height: 200px;
            border-radius: 50%;
          }

          @media (max-width: 675px) {
            max-width: 150px;
            min-width: 150px;
            max-height: 150px;
            min-height: 150px;
          }
        }

        .story-text {
          font-size: 2.3rem;
          text-align: left;

          .story-text-author {
            font-size: 1rem;
            text-align: right;
            padding-right: 10px;
          }
        }
      }
    }
  }

  // -------------------------------Styling for Brands Section

  .brands-section {
    height: 100vh;
    width: 100vw;

    .brandsTitle {
      color: black;
      text-align: center;
      font-size: 2em;
      padding-top: 17vh;
      font-family: "Merriweather", serif;
    }
    .brandsFlexContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      margin-top: 7vh;
      width: 100vw;

      /* Mobile responsiveness */
      @media (max-width: 675px) {
        flex-direction: column;
        gap: 1vh;
        justify-self: center;
      }

      .brandsMiniFlex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 675px) {
          flex-direction: row;
        }

        .brandsImage {
          width: 20vw;
          height: auto;
          text-align: center;
          padding-right: 5vw;
          padding-left: 5vw;
        }

        .brandsText {
          color: black;
          max-width: 200px;
          align-items: center;
          font-size: 20px;
          font-family: "Merriweather", serif;
        }

        .brandName {
          margin-top: -1vh;
          align-items: left;
          font-family: "Merriweather", serif;
        }
      }
    }
  }
}
