@import "../styles/global.scss";

.ProfileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include body1Style;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  h1 {
    @include headerStyle(
      $fontSize: 24px,
      $alignment: center,
      $textColor: $dark-jungle-green
    );
  }

  svg {
    margin: 0%;
  }
}

.topSvg {
  position: absolute;
  top: 0%;
}

.changePDiv {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #f1a61e 10px;
  height: 20vh;
  width: 50vw;
  align-content: space-between;
  background-color: #1b75bc;

  input {
    margin: 10px;
  }
}
.changeEDiv {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #1b75bc 10px;
  height: 20vh;
  width: 50vw;
  background-color: #f1a61e;
  input {
    margin: 10px;
  }
}

.textBoxx {
  margin: 0;
  @include headerStyle($fontSize: 24px, $textColor: $dark-jungle-green);
  height: 2rem;
}

.Header {
  display: flex;
  align-self: flex-start;
}

.profileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: max-content;
  margin-top: 20vh;
  width: 60vw;

  h2{
    color: $indigo-dye;
  }

  img {
    height: 20vh;
    border-radius: 50%;
    background-color: $burnt-orange;
  }
}
